.grid-container {
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    border-radius: 35px;
    align-items: center;
    margin-bottom: 80px;
  }
  
  .grid-item {
    padding: 15px;
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 30px;
    height: 35vh;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: -10px;
    margin-bottom: -20px;

  }
  .Imgs{
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    width:300px;
    height: 150px;
  }
  .Headingonly{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    background: #FFFFFF;
    font-size: 34px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.25);
    color: black;
    width: 30%;
    margin: auto;
    padding: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    border-radius: 30px;  
}
h3{
    display: inline-block;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: white;
    padding: 8px;
    width: 75%;
    border-radius: 25px;
    margin: auto;
}

.Foot123{
  display: flex;
  justify-content: center;
  font-weight: bold;
  background: white;
  padding: 10px ;
  color: whitesmoke;
  width: 90%;
  margin: auto;
  border-radius: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 20px;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.25);

  
}